html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.canvas {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

/* HOME */
.home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-text {
  position: absolute;
  bottom: 15%;
  left: 8%;
  color: white;
}

.home-text h1 {
  font-size: 3rem;
  margin: 0;
}

.home-text p {
  opacity: 0.8;
}

/* placeholders */
.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background: #111;
  color: #555;
}

.about {
  background: black;
  position: relative;
}

.about-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0%;
  height: 70%;
  overflow: hidden;
  transition: width 0.9s ease;
}

.about-image img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.about-overlay {
  position: absolute;
  right: 8%;
  opacity: 0;
  transition: opacity 0.4s ease 0.5s;
  color: white;
}

.about.active .about-image {
  width: 75%;
}

.about.active .about-overlay {
  opacity: 1;
}
