html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.canvas {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

/* HOME IMAGE */
.home-image {
  height: 100vh;
  overflow: hidden;
}

.home-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HOME TEXT */
.home-text-section {
  min-height: 60vh; /* chỉnh theo cảm giác */
  display: flex;
  align-items: center;
  padding-left: 8%;
  background: #000;
  color: #fff;
}

.home-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.home-text p {
  opacity: 0.7;
}

/* SNAP */
.canvas {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}
