html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body {
  margin: 0;
}

/* free intro */
.home-image {
  height: 100vh;
}

.home-text-section {
  min-height: 60vh;
}

/* snap sections */
.section {
  height: 100vh;
  scroll-snap-align: start;
}
